<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<ros2_control name="IgnitionSystem" type="system">
    <hardware>
        <plugin>ign_ros2_control/IgnitionSystem</plugin>
    </hardware>
    <joint name="left_wheel_joint">
        <command_interface name="velocity">
            <param name="min">${-wheel_max_velocity}</param>
            <param name="max">${wheel_max_velocity}</param>
        </command_interface>
        <state_interface name="position" />
        <state_interface name="velocity" />
    </joint>
    <joint name="right_wheel_joint">
        <command_interface name="velocity">
            <param name="min">${-wheel_max_velocity}</param>
            <param name="max">${wheel_max_velocity}</param>
        </command_interface>
        <state_interface name="position" />
        <state_interface name="velocity" />
    </joint>
</ros2_control>

<gazebo>
    <plugin name="ign_ros2_control::IgnitionROS2ControlPlugin" filename="ign_ros2_control-system">
        <parameters>$(find ${package_name})/config/controllers.yaml </parameters>
        <controller_manager_prefix_node_name>controller_manager</controller_manager_prefix_node_name>
        <robotNamespace>/robot</robotNamespace>
    </plugin>

</gazebo>
</robot>